{% extends "basic_app/base.html" %}
{% block body_block %}
    <div class="p-5 my-5 text-white bg-dark rounded-3">
        <div class="container-fluid py-4">
            <h1 class="display-5 fw-bold">Welcome!</h1>
            <p class="col-md-8 fs-4">Click on Register to register.</p>
            <p class="col-md-8 fs-4">Click on Admin for Admin Page.</p>
            <p class="col-md-8 fs-4">Click on login to go to the login page.</p>
            <button class="btn btn-primary btn-lg" type="button">Button</button>
        </div>
    </div>
{% endblock %}